:root {
    --color-light-primary: #1f63de;
    --color-light-bg: #cdeafc;
    --color-text: black;

    --color-green-primary: #009B75;
    --color-green-bg: #BAFADA;

    --color-purple-primary: #742899;
    --color-purple-bg: #DDCCFF;

    --color-orange-primary: #BC6C20;
    --color-orange-bg: #F0DDCC;
}

body {
    background-color: var(--color-light-bg);
    font-family: AMUMonumentGrotesk, sans-serif;
    color: var(--color-text);
}

body.green {
    background-color: var(--color-green-bg);
    color: var(--color-text);
}

body.purple {
    background-color: var(--color-purple-bg);
    color: var(--color-text);
}

body.orange {
    background-color: var(--color-orange-bg);
    color: var(--color-text);
}

#nav-tabContent {
    margin-bottom: 12px;
}

.theme-preview {
    font-size: 24px;
}

.theme-selector-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.room-schedule {
    margin-top: 120px;
}

.theme-button {
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    color: white;
}

.theme-button.selected {
    border: 3px solid white;
}

.table-success, .table-success>td, .table-success>th {
    background-color: #85eab4;
}

.welcome-text {
    color: var(--color-light-primary);
    font-size: 55px;
    font-weight: 500;
    margin-bottom: -1px;
    margin-top: 12px;
    letter-spacing: -0.05rem;
}

body.green .welcome-text {
    color: var(--color-green-primary);
}

body.purple .welcome-text {
    color: var(--color-purple-primary);
}

body.orange .welcome-text {
    color: var(--color-orange-primary);
}

.courstext {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 6px;
}

.img-fluid {
    filter: brightness(0) saturate(100%);
}

.container {
    max-width: 65%;
    background-color: var(--color-light-bg);
    border-radius: 5px;
    margin-bottom: 10px;
}

body.green .container {
    background-color: var(--color-green-bg);
}

body.purple .container {
    background-color: var(--color-purple-bg);
}

body.orange .container {
    background-color: var(--color-orange-bg);
}

.body_television_ecran {
    overflow: hidden;
}

.scheduleRow {
    margin-bottom: 20px;
}


.row {
    margin: 0px;
}

.alertEntry {
    margin-bottom: 1rem;
}

.table-responsive {
    margin-top: 12px;
}

.page-item:last-child .page-link {
    border-radius: 100px;
}

.button, input {
    padding: 6px;
    border-radius: 18px;
    border: var(--color-light-primary) 3px solid;
}

body.green .button, body.green input {
    border: var(--color-green-primary) 3px solid;
}

body.purple .button, body.purple input {
    border: var(--color-purple-primary) 3px solid;
}

body.orange .button, body.orange input {
    border: var(--color-orange-primary) 3px solid;
}

.pagination {
    justify-content: center;
}

a, a:hover, a:active {
    color: var(--color-light-primary);
}

body.green a:hover, body.green a:active {
    color: var(--color-green-primary);
}

body.purple a:hover, body.purple a:active {
    color: var(--color-purple-primary);
}

body.orange a:hover, body.orange a:active {
    color: var(--color-orange-primary);
}

a:hover {
    text-decoration: underline;
}

.button_presentation_ecran {
    background-color: var(--color-light-primary);
    color: white;
    border-radius: 30px;
}

body.green .button_presentation_ecran {
    background-color: var(--color-green-primary);
}

body.purple .button_presentation_ecran {
    background-color: var(--color-purple-primary);
}

body.orange .button_presentation_ecran {
    background-color: var(--color-orange-primary);
}

.dropdown-menu {
    background-color: var(--color-light-primary);
    border-radius: 12px;
}

body.green .dropdown-menu {
    background-color: var(--color-green-primary);
}

body.purple .dropdown-menu {
    background-color: var(--color-purple-primary);
}

body.orange .dropdown-menu {
    background-color: var(--color-orange-primary);
}

.dropdown-item:hover {
    background-color: #7ba4fa;
}

body.green .dropdown-item:hover {
    background-color: #66cc66;
}

body.purple .dropdown-item:hover {
    background-color: #cc99ff;
}

body.orange .dropdown-item:hover {
    background-color: #ffcc99;
}

td {
    font-weight: bold;
}

.bg-light {
    background-color: transparent;
}

.class-title {
    background-color: var(--color-light-primary);
    color: white;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-bottom: -1px;
    font-size: 1.4rem;
    font-weight: 500;
}

body.green .class-title {
    background-color: var(--color-green-primary);
}

body.purple .class-title {
    background-color: var(--color-purple-primary);
}

body.orange .class-title {
    background-color: var(--color-orange-primary);
}

.titleInfo {
    color: white !important;
}

.text-info {
    color: white !important;
    font-size: 1.1rem;
}

.tabSchedule {
    background-color: white !important;
}