/* =============================================================================
FONT
========================================================================== */

@font-face {
    font-family: 'AMUMonumentGrotesk';
    font-style: normal;
    font-weight: 400;
    src: local('AMUMonumentGrotesk-Regular'), url('../font/AMUMonumentGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'AMUMonumentGrotesk';
    font-style: italic;
    font-weight: 400;
    src: local('AMUMonumentGrotesk-RegularItalic'), url('../font/AMUMonumentGrotesk-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'AMUMonumentGrotesk';
    font-style: normal;
    font-weight: 500;
    src: local('AMUMonumentGrotesk-Medium'), url('../font/AMUMonumentGrotesk-Medium.woff') format('woff');
}

@font-face {
    font-family: 'AMUMonumentGrotesk';
    font-style: italic;
    font-weight: 500;
    src: local('AMUMonumentGrotesk-MediumItalic'), url('../font/AMUMonumentGrotesk-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'AMUMonumentGrotesk';
    font-style: normal;
    font-weight: 700;
    src: local('AMUMonumentGrotesk-Bold'), url('../font/AMUMonumentGrotesk-Bold.woff') format('woff');
}

@font-face {
    font-family: 'AMUMonumentGrotesk';
    font-style: italic;
    font-weight: 700;
    src: local('AMUMonumentGrotesk-BoldItalic'), url('../font/AMUMonumentGrotesk-BoldItalic.woff') format('woff');
}


body {
    background-color: #cdeafc;
    font-family: AMUMonumentGrotesk, sans-serif;
}

.table-success, .table-success>td, .table-success>th {
    background-color: #85eab4;
}

.welcome-text {
    color: #1f63de;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: -1px;
    margin-top: 12px;
    letter-spacing: -0.05rem;
}

.courstext {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 6px;
}

.img-fluid {
    filter: brightness(0) saturate(100%) invert(33%) sepia(31%) saturate(6915%) hue-rotate(212deg) brightness(89%) contrast(94%);
}

.container {
	max-width:65%;
    background-color: #cdeafc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.body_television_ecran {
    overflow: hidden;
}

.row {
    margin: 0;
}

a, a:hover, a:active {
    color: #1f63de;
}

a:hover {
    text-decoration: underline;
}

.button_presentation_ecran {
    background-color: #1f63de;
    color: white;
}

.dropdown-menu {
    background-color: #1f63de;
}

.dropdown-item:hover {
    background-color: #7ba4fa;
}

td {
	font-weight:bold;
}

.bg-light {
    background-color: transparent;
}

.class-title {
    background-color: #1f63de;
    color: white;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-bottom: -1px;
    font-size: 1.4rem;
    font-weight: 500;
}

.titleInfo {
    color: white!important;
}

.text-info {
    color: white!important;
    font-size: 1.1rem;
}

.tabSchedule {
	background-color: white!important;
}