/* FOOTER */
.footer_ecran {
    color: #f2eff2;
    background-color: var(--color-light-primary);
    width: 100%;
    padding: 10px;
    min-height: 5vh;
    box-sizing: border-box; /* Assure que padding ne fait pas déborder */
    margin-top: auto;
    overflow: hidden;
}

body.green .footer_ecran {
    background-color: var(--color-green-primary);
}

body.purple .footer_ecran {
    background-color: var(--color-purple-primary);
}

body.orange .footer_ecran {
    background-color: var(--color-orange-primary);
}

.footer_custom {
    width: 100%;
}

.footer_alert_etudiant {
    position: sticky;
    bottom: 0;
}

.footer_alert {
    padding: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
}

.footer_weather {
    padding: 0;
    min-width: 34%;
}

.footer_alert_television {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_weather_television {
    min-width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}