/* HEADER */
.nav_ecran {
    position: static;
    top: 0;
    background-color: var(--color-light-primary);
    margin-bottom: 10px;
    min-height: 5vh;
    width: 100%;
    padding: 10px;
}

body.green .nav_ecran {
    background-color: var(--color-green-primary);
}

body.purple .nav_ecran {
    background-color: var(--color-purple-primary);
}

body.orange .nav_ecran {
    background-color: var(--color-orange-primary);
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.logo_ecran {
    width: auto;
    height: 8vh;
}