/* SIDEBAR */
.sidebar {
    min-width: 25%;
    background-color: #1f63de;
    height: 100vh;
}

.sidebar-logo {
    display: inline;
    margin: 20px 0px 20px 0px;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.sidebar-logo:hover {
    transform: scale(1.01);
}

.multicolor-band {
    width: 10px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}


